<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<link 
<body>
	<div class="navbar">
		<div id="title">
		back to the start.
		</div>
		<div id="subnavbar">
			<div id="home">
				<a href="/">
					Home
				</a>
			</div>
			<a href="/about">
				<div id="about">
						About
				</div>
				</a>
			<div id="sets">
				<a href="/sets">
					Sets
				</a>
			</div>
			<div id="contact">
				<a href="/contactus">
					Contact Us
				</a>
			</div>
		</div>
	</div>
	<center>
	<div class="table">
		<table style="width:500px">
		 <% set.each do |key,value| %>
		 	<tr>
		 		<td><%= key %></td>
		 		<td><% value.each do |vid| %>
		 				<% unless vid == value.length-1%>
		 					<img class="thumbnail" src="http://img.youtube.com/vi/<%= vid %>/default.jpg">
		 				<% else %>
		 					<% exit %>
		 			<% end %>
		 		</td>
		 	</tr>
		 	<% end %>			
		</table>
	</div>
	</center>	
</body>

