<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<link 
<body>
	<div class="navbar">
		<div id="title">
		back to the start.
		</div>
		<div id="subnavbar">
			<div id="home">
				<a href="/">
					Home
				</a>
			</div>
			<a href="/about">
				<div id="about">
						About
				</div>
				</a>
			<div id="sets">
				<a href="/sets">
					Sets
				</a>
				<ul>
					<a href="/sets/previous">
						Previous
					</a>
				</ul>
			</div>
			<div id="contact">
				<a href="/contactus">
					Contact Us
				</a>
			</div>
		</div>
	</div>
	<div class="form">
		<form method="post" action="/sets">
			<fieldset>
				<ul>
				<label>
					Add your own set: 
					<input type="text" name="setname" placeholder="Name your set" required>
				</label></ul>
				<ul>
				<label>
					Choose your videos: 
					<input type="text" name="vids" placeholder="Enter your Youtube links" required>
				</label></ul>
				<ul>
				<label>
					Post a description: 
					<input type="text" name="description" placeholder="What makes your set yours?" required>
				</label></ul>
				<ul>
				<label>
					<input type="submit" name="button" class="button" value="Submit"></label></ul>
			</fieldset>
		</form>
	</div>
		<center>
	<div class="table">
		 <% session[:history].each do |key,value| %>
		 	<tr>
		 		<td><label>
					<input type="submit" name="button" class="button" value="<%= key %>"></label></td>
		 		<td><%= value[value.length] %></td>
		 		<td><% value.each do |vid| %>
		 				<% if vid == value.length-1%>
		 				<%= vid[value.length-1]%>
		 				<% else %>
		 					<img class="thumbnail" src="http://img.youtube.com/vi/<%= vid %>/default.jpg">
		 				<% end %>
		 			<% end %>
		 		</td>
		 	</tr>
		 	<% end %>		
	</div>
	</center>	
</body>


